<div class="container">
    <header>
    <h1 class="page-header pt-4 pb-4">
        <img src="/imgs/search.svg" height="50px" width="50px" alt="Search Icon">
        Search Results
    </h1>
</header>

    <div>
        <input type="text" class="form-control" id="userInput" onkeyup="filterTags()" placeholder="Filter by tags" >
    </div>

    <div>
        <ul class="list-group" id="flashcards-set-ul">
            <% if (flashcardsSets.length > 0) { %>
                <% flashcardsSets.forEach(function (flashcardSet) { %>
                    <li class="list-group-item">
                        <strong class="flashcard-title-index"><%= flashcardSet.title %></strong>

                        <% if (flashcardSet.tags !== "") { %>
                            <% if (flashcardSet.tags.includes(",")) { %>
                                <% let tagsList = flashcardSet.tags.split(",") %>
                                <% for (let tag of tagsList) { %>
                                    <span class="badge badge-dark"><%= tag %></span>
                                <% } %>
                            <% } else { %>
                                <span class="badge badge-dark"><%= flashcardSet.tags %></span>
                            <% } %>
                        <% } else { %>
                            <!-- add empty span for sets with no tags so it filters properly -->
                            <span></span> 
                        <% } %>
                        
                        <button class="lined pull-right hover-dark" onclick='location.href="/flashcards/<%= flashcardSet.setId %>"'>View</button>
                        <p class="text-muted"><%= flashcardSet._count.flashcards %> Flashcards</p>
                        <p>Created by: <%= flashcardSet.user.name %></p>
                    </li>
                <% }) %>
            <% } else { %>
                <li class="list-group-item">
                    <p><strong>Your search did not match any flashcard sets.</strong></p>
                    <p>Suggestions:</p>
                    <ul>
                        <li>Make sure that all words are spelled correctly.</li>
                        <li>Try different keywords.</li>
                        <li>Try more general keywords.</li>
                    </ul>
                </li>
            <% } %>
        </ul>
    </div>
</div>
<script>
    function filterTags() {
        let input = document.getElementById('userInput');
        let filter = input.value.toUpperCase();
        let ul = document.getElementById("flashcards-set-ul");
        let flashcardSetElems = ul.getElementsByTagName('li');

        for (i = 0; i < flashcardSetElems.length; i++) {
            spans = flashcardSetElems[i].getElementsByTagName("span");

            for (let span of spans) {
                textValue = span.textContent || span.innerText;

                if (textValue.toUpperCase().includes(filter)) {
                    console.log(textValue)
                    flashcardSetElems[i].style.display = "";
                    // need to break out of the span for loop or it will disable same flashcardSet
                    // if it has 2 tags and the second tag doesnt contain the filter text
                    break
                    
                } else {
                    flashcardSetElems[i].style.display = "none";
                }
            }
        }
    }
</script>